///
/// Tab Downloader
/// Page footer
///

.footer {
	background-color: $color-footer-background;
	color: $color-footer-text;
	font-size: $font-size-small;
	padding: baseline(4) 0;

	&__header {
		margin: 0;
	}

	&__links {
		font-weight: 500;
		margin: 0;
		padding: 0;
		text-align: right;
	}

	> .container {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-left: baseline(9); /// Equal to navigation icon & gutter
		margin-right: baseline(9);
	}

	a {
		color: $md-dark-text-secondary;
		text-decoration: none;
		transition: color duration() ease(out-quad);
		will-change: color;

		+ a,
		+ b {
			margin-left: 1.125em;
		}

		&:hover,
		&:focus {
			color: $color-footer-link--hover;
		}

		.icon {
			height: 1.125em;
			vertical-align: middle;
			width: 1.125em;
		}
	}

	[rel~='author'] {
		@include underline--right();
		font-weight: 900;
		position: relative;
		text-transform: uppercase;

		&:focus,
		&:hover {
			color: $color-author;
		}
	}

	@media screen and (max-width: map-get($breakpoints--min, tablet)) {
		padding: baseline(2) baseline(2) (baseline(2) + $size-nav-item);

		&__links {
			flex: 1 0 100%;
			text-align: center;
		}

		> .container {
			justify-content: center;
			margin-left: 0;
			margin-right: 0;
		}
	}
}
